    img {
    height: 100px;
}

.col-xs-12 {
    background-color: blue;
    outline: solid 2px red;
}

.col-xs-9 {
    background-color: blue;
    outline: solid 2px red;
}

.col-xs-3 {
    background-color: blue;
    outline: solid 2px red;
}

.col-sm-6 {
    background-color: blue;
    outline: solid 2px red;
}

.col-md-3 {
    background-color: blue;
    outline: solid 2px red;
}

.col-xs-6 {
    background-color: blue;
    outline: solid 2px red